body {
  height: 3000px;
}
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Arial;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: black;

  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
