.request-now-btn {
  background-color: black;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.request-now-btn:hover {
  opacity: 0.8;
}
