.google-logo {
  display: block;

  width: 200px;
  margin-left: 150px;
  margin-bottom: 10px;
}
input {
  display: block;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
  padding-right: 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}
