.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);

  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  flex: 1;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 500px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.search-bar {
  flex: 1; /*To take full remaining space*/
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 0; /*??*/
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button {
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  margin-left: -1px;

  margin-right: 10px;
}
.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}
.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}
.notification-icon-container {
  position: relative;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  font-family: Roboto, Arial;
  font-size: 11px;
  color: white;
  background-color: red;

  border-radius: 10px;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
